.sidebar.open ~ .content {
  height: 100vh;
  overflow: hidden;
}
@keyframes open {

  0%{
    display: none;
    opacity: 0;
    transform: translate(-100%, 0);
  }
  50%{
    opacity: 0.3;
    display: block;
    transform: translate(-50%, 0);
  }

  100%{
    opacity: 1;
    transform: translate(0,0);
  }

}
.sidebar {
  animation: open forwards .3s linear;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 19px 24px;
  width: 320px;
  display: none;
  flex-direction: column;
  background: #FFFFFF;
  z-index: 10;
  transition: all .3s ease;

  &.open {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  @media ($screen-desktop) {
    position: static;
    display: flex;

  }

  &__header {
    flex: 0 0 auto;
    margin: 0 0 50px;
  }

  &__menu {
    margin: 0 0 240px;
  }

  &__footer {
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__column {
    display: flex;
    align-items: center;
  }

  &__logo {
    @media ($screen-desktop) {
      margin: 0 50px 0 0;
    }
  }

  &__close {
    cursor: pointer;
    margin: 0 17px 0 0;
    @media ($screen-desktop) {
      display: none;
    }
  }
}

.menu {
  &__item {
    margin: 0 0 32px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: #1B1C21;
    margin: 0 -24px;
    padding: 0 0 0 24px;

    &.active {
      color: #7E7E82;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 4px;
        background: #41F6D7;
        height: 32px;
        display: inline-block;
        border-radius: 20px;
      }
    }
  }
}

.sidebar-footer {


  &__account {
    margin: 0 0 16px;
  }

  &__list {
    display: flex;
  }

  &__link {
    margin: 0 16px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__email {
    margin: 0 0 12px;
  }

  &__tel {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
    margin: 0 0 40px;
  }

  &__lang {
    margin: 0 0 32px;
  }
}

.lang {
  &__item {
    margin: 0 7px 0 0;
    cursor: pointer;

    &.active {
      color: #7E7E82;
    }

    &:last-child {
      margin: 0;
    }
  }
}
