.title-block {
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  padding: 16px 0;
  margin: 0 0 24px;

  &__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
  }
}
