@charset "UTF-8";
/**
* Base
*/
/*
* Fonts
*/
@import url(../../node_modules/swiper/swiper-bundle.css);
@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
body {
  font-size: 14px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
  height: 100%;
  background: #F8F8F8; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

/**
* Layout
*/
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px; }
  @media (min-width: 768px) {
    .container {
      width: 768px; } }
  @media (min-width: 1280px) {
    .container {
      min-width: 1056px;
      max-width: 1120px; } }

.title {
  font-weight: 700; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*
* Blocks
*/
.icon-header {
  width: 40px;
  height: 40px; }

.logo {
  width: 97px;
  height: 51px; }

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 0; }
  @media (min-width: 1280px) {
    .header {
      padding: 0; } }
  .header__body {
    display: flex;
    justify-content: space-between; }
  .header__column {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__account {
    display: none; }
    @media (min-width: 768px) {
      .header__account {
        display: flex;
        align-items: center; } }
    @media (min-width: 1280px) {
      .header__account {
        display: none; } }
  @media (min-width: 1280px) {
    .header__logo {
      display: none; } }
  .header__burger {
    cursor: pointer;
    margin: 0 16px 0 0; }
    @media (min-width: 768px) {
      .header__burger {
        margin: 0 20px 0 0;
        border-right: 2px solid #EAEAEA;
        padding: 0 20px 0 0; } }
    @media (min-width: 1280px) {
      .header__burger {
        display: none; } }
  .header.blur {
    filter: blur(15px); }

.help {
  padding: 0 0 0 4px;
  border-left: 2px solid #EAEAEA;
  display: flex;
  align-items: center; }
  .help__item {
    margin: 0 0 0 16px; }
  @media (min-width: 1280px) {
    .help__repair {
      position: absolute;
      top: 20px;
      right: 230px;
      display: flex;
      align-items: center;
      z-index: 2; } }
  .help__repair-name {
    margin: 0 8px 0 0;
    display: none; }
    @media (min-width: 1280px) {
      .help__repair-name {
        display: inline; } }
  @media (min-width: 1280px) {
    .help__checkstatus {
      position: absolute;
      top: 20px;
      right: 30px;
      display: flex;
      align-items: center;
      z-index: 2; } }
  .help__checkstatus-name {
    margin: 0 8px 0 0;
    display: none; }
    @media (min-width: 1280px) {
      .help__checkstatus-name {
        display: inline; } }

.account {
  padding: 0 4px 0 0; }
  .account__item {
    margin: 0 16px 0 0; }

.main {
  display: flex;
  justify-content: space-between; }

.content {
  flex: 1 0 auto; }

.service__title {
  margin: 24px 0;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  padding: 0 0 0 20px; }
  .service__title:before {
    content: '';
    position: absolute;
    left: -10px;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    display: inline-block;
    border-radius: 20px; }
.service__menu {
  margin: 0 0 24px; }

.service-menu {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap; }
  .service-menu__item {
    padding: 8px 17px;
    font-size: 16px;
    line-height: 1.4;
    flex: 0 0 auto;
    cursor: pointer; }
    .service-menu__item.active {
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 0 2px #B8FFEC inset; }

.service-content {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .service-content {
      flex-direction: row; } }
  .service-content__text {
    line-height: 1.3;
    letter-spacing: 0.2px;
    height: 90px;
    overflow: hidden;
    display: none; }
    .service-content__text.active {
      display: block; }
    .service-content__text.open {
      height: auto; }
    @media (min-width: 768px) {
      .service-content__text {
        padding: 0 36px 0 0;
        height: 110px; } }
    @media (min-width: 1280px) {
      .service-content__text {
        padding: 0 48px 0 0; } }
  .service-content__par {
    margin: 0 0 15px; }
    .service-content__par:last-child {
      margin: 0; }
  .service-content__img {
    width: 300px;
    border-radius: 6px;
    margin: 0 0 30px; }
    @media (min-width: 768px) {
      .service-content__img {
        width: 360px;
        margin: 0 0 35px; } }
    @media (min-width: 1280px) {
      .service-content__img {
        width: 531px;
        margin: 0 0 40px; } }
  .service-content__read-more {
    display: inline-block;
    margin: 16px 0 16px 10px; }

.sidebar.open ~ .content {
  height: 100vh;
  overflow: hidden; }

@keyframes open {
  0% {
    display: none;
    opacity: 0;
    transform: translate(-100%, 0); }
  50% {
    opacity: 0.3;
    display: block;
    transform: translate(-50%, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
.sidebar {
  animation: open forwards .3s linear;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 19px 24px;
  width: 320px;
  display: none;
  flex-direction: column;
  background: #FFFFFF;
  z-index: 10;
  transition: all .3s ease; }
  .sidebar.open {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); }
  @media (min-width: 1280px) {
    .sidebar {
      position: static;
      display: flex; } }
  .sidebar__header {
    flex: 0 0 auto;
    margin: 0 0 50px; }
  .sidebar__menu {
    margin: 0 0 240px; }

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sidebar-header__column {
    display: flex;
    align-items: center; }
  @media (min-width: 1280px) {
    .sidebar-header__logo {
      margin: 0 50px 0 0; } }
  .sidebar-header__close {
    cursor: pointer;
    margin: 0 17px 0 0; }
    @media (min-width: 1280px) {
      .sidebar-header__close {
        display: none; } }

.menu__item {
  margin: 0 0 32px; }
  .menu__item:last-child {
    margin: 0; }
.menu__link {
  color: #1B1C21;
  margin: 0 -24px;
  padding: 0 0 0 24px; }
  .menu__link.active {
    color: #7E7E82;
    position: relative; }
    .menu__link.active:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      width: 4px;
      background: #41F6D7;
      height: 32px;
      display: inline-block;
      border-radius: 20px; }

.sidebar-footer__account {
  margin: 0 0 16px; }
.sidebar-footer__list {
  display: flex; }
.sidebar-footer__link {
  margin: 0 16px 0 0; }
  .sidebar-footer__link:last-child {
    margin: 0; }
.sidebar-footer__email {
  margin: 0 0 12px; }
.sidebar-footer__tel {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
  margin: 0 0 40px; }
.sidebar-footer__lang {
  margin: 0 0 32px; }

.lang__item {
  margin: 0 7px 0 0;
  cursor: pointer; }
  .lang__item.active {
    color: #7E7E82; }
  .lang__item:last-child {
    margin: 0; }

.brands__read-more {
  display: none;
  margin: 0 0 32px; }
  @media (min-width: 768px) {
    .brands__read-more {
      display: block; } }
.brands__items {
  margin: 0 0 8px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .brands__items {
      height: 170px; } }
  .brands__items.open {
    height: auto; }
.brands__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 72px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .brands__item {
      width: 224px; } }

.icon-go {
  width: 40px;
  height: 40px; }

.repairs__read-more {
  display: none;
  margin: 0 0 32px; }
  @media (min-width: 768px) {
    .repairs__read-more {
      display: block; } }
.repairs__items {
  margin: 0 0 8px;
  overflow: hidden; }
  .repairs__items.open {
    height: auto; }
.repairs__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  height: 160px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .repairs__item {
      width: 224px; } }
.repairs__item-name {
  margin: 0 0 105px;
  font-size: 16px;
  font-weight: 500; }

.footer {
  flex: 0 0 auto;
  border-top: 1px solid #D9FFF5;
  padding: 16px 0 19px; }
  @media (min-width: 768px) {
    .footer {
      padding: 32px 0 21px; } }
  @media (min-width: 768px) {
    .footer__items {
      display: flex;
      justify-content: space-between; } }
  .footer__item {
    line-height: 16px;
    text-align: center;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin: 0 0 16px; }
    @media (min-width: 768px) {
      .footer__item {
        margin: 0;
        width: 330px;
        text-align: right; } }
    @media (min-width: 768px) {
      .footer__item:first-child {
        text-align: left; } }
    @media (min-width: 768px) {
      .footer__item:nth-child(2) {
        text-align: center; } }
    .footer__item:last-child {
      margin: 0; }
      @media (min-width: 768px) {
        .footer__item:last-child {
          text-align: right; } }

.prices__description {
  margin: 0 0 40px; }
.prices__text {
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0 0 16px; }
.prices__go {
  font-size: 16px;
  line-height: 24px;
  word-spacing: 5px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500; }
  @media (min-width: 768px) {
    .prices__go {
      word-spacing: 0; } }
.prices__items {
  margin: 0 0 24px 0;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .prices__items {
      background-color: white; } }

.work-type {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 260px;
  height: 200px;
  position: relative;
  background-color: white;
  border-radius: 6px; }
  .work-type--no-border {
    border: none !important; }
  @media (min-width: 768px) {
    .work-type {
      border-radius: 0;
      background: inherit;
      width: 100%;
      flex-direction: row;
      height: auto;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EAEAEA; } }
  .work-type__name {
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.72;
    margin: 0 0 4px; }
    @media (min-width: 768px) {
      .work-type__name {
        display: none; } }
  .work-type__description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0 10px 16px 0; }
    @media (min-width: 768px) {
      .work-type__description {
        margin: 0 10px 0 0;
        width: 100px; } }
    @media (min-width: 768px) {
      .work-type__description--wide {
        width: 350px; } }
    .work-type__description:last-of-type {
      margin: 0; }
  .work-type__btn {
    position: absolute;
    left: 125px;
    bottom: 16px; }
    @media (min-width: 768px) {
      .work-type__btn {
        position: static; } }

.swiper-slide {
  width: 260px; }
  @media (min-width: 768px) {
    .swiper-slide {
      width: 100%; } }
  .swiper-slide--box-block {
    width: 240px; }
    @media (min-width: 768px) {
      .swiper-slide--box-block {
        width: 224px; } }
    @media (min-width: 768px) {
      .swiper-slide--box-block:nth-child(3), .swiper-slide--box-block:nth-child(6), .swiper-slide--box-block:nth-child(9) {
        margin: 0 0 16px; } }
    @media (min-width: 1280px) {
      .swiper-slide--box-block:nth-child(3), .swiper-slide--box-block:nth-child(6), .swiper-slide--box-block:nth-child(9) {
        margin: 0 32px 16px 0; } }
    @media (min-width: 1280px) {
      .swiper-slide--box-block:nth-child(4), .swiper-slide--box-block:nth-child(8) {
        margin: 0 0 16px; } }
    @media (min-width: 768px) {
      .swiper-slide--box-block {
        margin: 0 32px 16px 0; } }

.swiper-wrapper {
  margin: 0 0 32px;
  flex-wrap: nowrap; }
  @media (min-width: 768px) {
    .swiper-wrapper {
      margin: 0;
      flex-wrap: wrap; } }

.title-block {
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  padding: 16px 0;
  margin: 0 0 24px; }
  .title-block__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82; }

.read-more {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding: 0 0 0 20px;
  background: url("../img/svg/more.svg") no-repeat 0 6px; }
  .read-more.open {
    background: url("../img/svg/hide.svg") no-repeat 0 6px; }

.arrow {
  position: relative;
  padding: 0 20px 0 0;
  transition: all .3s ease; }
  .arrow:hover {
    padding: 0 25px 0 0; }
  .arrow:after {
    content: url("../img/svg/arrow.svg");
    position: absolute;
    right: 0; }

.btn {
  width: 120px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 4px 40px 4px 12px;
  background: #FF3E79;
  border-radius: 16px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer; }
  .btn:hover:after {
    right: 15px; }
  .btn:after {
    content: '';
    background: url("../img/svg/dropdown.svg") no-repeat;
    margin: 0 0 0 15px;
    padding: 5px;
    display: inline-block; }

.feedback-modal.open ~ .content, .call-modal.open ~ .content {
  height: 80vh;
  overflow: hidden; }

.feedback-modal.open ~ .sidebar, .call-modal.open ~ .sidebar {
  height: auto;
  overflow: hidden; }

.feedback-modal, .call-modal {
  min-height: 100vh;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 24px;
  background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  width: 320px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease; }
  @media (min-width: 768px) {
    .feedback-modal, .call-modal {
      width: 440px;
      padding: 16px 32px; } }
  .feedback-modal.open, .call-modal.open {
    opacity: 1;
    visibility: visible; }
  .feedback-modal input, .feedback-modal textarea, .call-modal input, .call-modal textarea {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px; }
  .feedback-modal__title, .call-modal__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: 700;
    position: relative;
    margin: 104px 0 24px 0; }
    @media (min-width: 1280px) {
      .feedback-modal__title, .call-modal__title {
        margin: 40px 0 24px 0; } }
    .feedback-modal__title:before, .call-modal__title:before {
      content: '';
      position: absolute;
      left: -24px;
      height: 35px;
      width: 4px;
      background-color: #41F6D7;
      display: inline-block;
      border-radius: 20px; }
      @media (min-width: 768px) {
        .feedback-modal__title:before, .call-modal__title:before {
          left: -32px; } }
  .feedback-modal__close, .call-modal__close {
    cursor: pointer;
    position: absolute;
    top: 24px; }
    @media (min-width: 1280px) {
      .feedback-modal__close, .call-modal__close {
        right: 473px;
        top: 32px; } }
  .feedback-modal__name, .call-modal__name {
    margin: 0 0 16px; }
  .feedback-modal__tel, .call-modal__tel {
    margin: 0 0 16px; }
  .feedback-modal__email, .call-modal__email {
    margin: 0 0 16px; }
  .feedback-modal__mail, .call-modal__mail {
    margin: 0 0 16px; }
  .feedback-modal__mail-input, .call-modal__mail-input {
    height: 120px;
    resize: none; }
  .feedback-modal__text, .call-modal__text {
    font-weight: 500;
    color: #7E7E82;
    margin: 0 0 23px; }
  .feedback-modal__btn-block, .call-modal__btn-block {
    margin: auto 0 75px;
    display: flex;
    justify-content: flex-end; }
  .feedback-modal__link, .call-modal__link {
    color: #FF3E79; }

.area {
  display: none;
  background: #FFF;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5; }
  .area.open {
    display: block; }
