/**
* Base
*/

@import "base/fonts";
@import "base/generic";
@import "style0";
@import "../../node_modules/swiper/swiper-bundle.css";


/*
* Blocks
*/
@import "blocks/header";
@import "blocks/main";
@import "blocks/service";
@import "blocks/sidebar";
@import "blocks/brands";
@import "blocks/repairs";
@import "blocks/footer";
@import "blocks/prices";
@import "blocks/swiper";
@import "blocks/title-block";
@import "blocks/read-more";
@import "blocks/arrow";
@import "blocks/button";
@import "blocks/modals";
@import "blocks/area";
